<!DOCTYPE html>
<html lang="en">
    <head>
      {% block title %}<title>Search</title>{% endblock %}
    </head>
    <body>
        <div>
            <form method="post">{% csrf_token %}
                <input type="text" name="input" id="search-input" placeholder="Pagerank with fulltext search">
                <input type="submit" name="search">
            </form>
        </div>
        <div>
            {% block input %}
                <div> {{test_input}}</div>
            {% endblock %}
        </div>
        {% if result %}
        <ul>
            {% for page in result %}
            <li>
                <a href={{page.url}}>{{page.url}}</a> {{page.score}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>